<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
   <h2>文件上传</h2>
   <form action="/doUpload" method="post" enctype="multipart/form-data">
    <input type="text" name="username" placeholder="用户名">
    <input type="file" name="file" placeholder="头像">
    <input type="submit" value="上传">
    </form>
</body>

</html>